/*main*/
.mainContainer__clientForm{
    background-color: rgba(145, 145, 145, 0.833);
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*form container*/
.container__clientForm{
    width: 50%;
    height: 50%;
    background-color: white;
}

/*Form title y exit*/
.clientForm__title{
    width: 100%;
    height: 50px;
    background-color:gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.clientForm__title-text{
    margin-left: 100px;
}


/*icon close*/
.close-form-icon{
    cursor: pointer;
    position: relative;
    font-size: 30px;
    margin-right: 25px;

}

