/*main*/
.mainContainer__clientForm{
    background-color: rgba(145, 145, 145, 0.833);
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*form container*/
.container__clientForm{
    width: 80%;
    height: 80%;
    background-color: white;
}

/*icon close*/
.close-form-icon{
    cursor: pointer;
    font-size: 30px;
    float: right;
    margin:10px;
}