/*main*/
.mainContainer__experience{
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 200px;
    bottom: 0;
    
}

/*container years y clients*/
.mainContainer-years-clients{
    position: relative;
    height: 200px;
    background-color: #FF9000;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*experience years*/
.experience-years-number{
    
    font-size: 35px;
}
.experience-years{

    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    animation-name: showUpYears;
    animation-duration: 1s;

}

@keyframes showUpYears{
    0%{
        margin-left: -2000px;
    }

    100%{
        margin-left: 0;
    }
}

.experience-years:hover{
    box-shadow:10px 10px 10px rgb(87, 87, 87) ;
}

.experience-years-plus{
    margin-left: 5px;
    font-size: 35px;
}
.experience-years-text{
    align-self: flex-end;
    margin-bottom: 25px;
    font-size: 20px;
}
/*experience clients*/

.experience-clients{
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition:box-shadow .3s;
    animation-name: showUpClients;
    animation-duration: 1s;

}

@keyframes showUpClients{
    0%{
        margin-right: -2000px;
    }

    100%{
        margin-right: 0;
    }
}



.experience-clients-number-text-container{
    position: absolute;
    font-size: 35px;
    display: flex;
    align-items: center;
}

.experience-clients:hover{
    box-shadow:5px 5px 5px rgb(87, 87, 87) ;
}

.experience-clients-plus{
    margin-left: 5px;
}
.experience-clients-text{
    align-self: flex-end;
    margin-bottom: 25px;
    font-size: 20px;
}

/*paint effect*/

.experience-paintEffect{
    position: absolute;
    border:2px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:250px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.255);
    animation-name: pinturaDesvanece;
    animation-duration:3.5s;
}



@keyframes pinturaDesvanece{
    0%{
        background-color: rgb(255, 255, 255);
       
    }
    100%{
        background-color:rgba(255, 255, 255, 0.255);
        
    }
}

.experience-iconEffect{
    position: absolute;
    left: 220px;
    transform: rotate(-90deg);
    font-size: 78px;
    animation-name: slide;
    animation-duration:3s;
}



@keyframes slide{
    0%{
        left:-20px;
    }
    100%{
       left:220px
    }
}


@media only screen and (max-width: 1200px){
    .mainContainer-years-clients{
        width:100%;
        height:300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    /*years*/

    .experience-years{
        box-shadow:5px 5px 5px rgba(255, 255, 255, 0.276) ;
        width: 100%;
        animation-name: showUpShadow;
        animation-duration: 1s;
    }

    @keyframes showUpShadow{
        0%{
            box-shadow:none ;
            margin-left: -2000px;
        }
    
        100%{
            box-shadow:5px 5px 5px rgba(255, 255, 255, 0.276) ;
            margin-left: 0;
        }
    }
    .experience-years:hover{
        box-shadow:5px 5px 5px rgba(255, 255, 255, 0.276) ;
    }
    .experience-years-number{
        font-size: 25px;
    }
    .experience-years-text{
        
        font-size: 15px;

    }
    /*clients*/
    .experience-clients{
        width: 100%;
    }

    .experience-clients:hover{
        box-shadow:5px 5px 5px rgba(255, 255, 255, 0.276) ;

    }
    .experience-clients-text{
        font-size: 15px;
    }
    .experience-clients-number{
        font-size: 25px;
    }
}


@media only screen and (max-width: 350px){

    /*exp clients*/
    .experience-clients-text{
        font-size: 12px;
        font-weight: 600;
    }

    /*exp years text*/
    .experience-years-text{
        
        font-size: 12px;
        font-weight: 600;

    }

}