/*main*/
.mainContainer__experience{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #fdd776f2;
}
/*experience years*/
.experience-years-number{
    font-size: 35px;
}
.experience-years{
    display: grid;
    grid-template-rows:auto auto;
    justify-items: center;
    align-items: center;
    flex: 1;
}
/*experience clients*/
.experience-clients-number{
    font-size: 35px;
}
.experience-clients{
    display: grid;
    grid-template-rows:auto auto;
    justify-items: center;
    align-items: center;
    flex: 1;
}

/*paint effect*/

.experience-paintEffect{
    border-radius: 5px;
    display: flex;
    align-items: center;
    width:250px;
    height: 60px;
    background-color: #00000058;
    position: absolute;
    animation-name: pinturaDesvanece;
    animation-duration:2s;
}



@keyframes pinturaDesvanece{
    0%{
        background-color: #000000;
       
    }
    100%{
        background-color:#00000058;
        
    }
}

.experience-iconEffect{
    position: relative;
    left: 220px;
    transform: rotate(-90deg);
    font-size: 78px;
    animation-name: slide;
    animation-duration:2s;
}



@keyframes slide{
    0%{
        left: -20px;
    }
    100%{
       left:220px
    }
}