/*main*/
.mainContainer__experience{
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 200px;
    
}

/*container years y clients*/
.mainContainer-years-clients{
    height: 100%;
    background-color: #FF9000;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*experience years*/
.experience-years-number{
    
    font-size: 35px;
}
.experience-years{
    
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition:box-shadow .3s;
}

.experience-years:hover{
    box-shadow:10px 10px 10px rgb(87, 87, 87) ;
}

.experience-years-plus{
    
    font-size: 35px;
}
.experience-years-text{
    align-self: flex-end;
    margin-bottom: 25px;
    font-size: 20px;
}
/*experience clients*/

.experience-clients{
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition:box-shadow .3s;
}

.experience-clients-number-text-container{
    position: absolute;
    font-size: 35px;
    display: flex;
}

.experience-clients:hover{
    box-shadow:5px 5px 5px rgb(87, 87, 87) ;
}

.experience-clients-number{


}

.experience-clients-text{
    align-self: flex-end;
    margin-bottom: 25px;
    font-size: 20px;
}

/*paint effect*/

.experience-paintEffect{
    position: absolute;
    border:2px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:250px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.255);
    animation-name: pinturaDesvanece;
    animation-duration:2s;
}



@keyframes pinturaDesvanece{
    0%{
        background-color: rgb(255, 255, 255);
       
    }
    100%{
        background-color:rgba(255, 255, 255, 0.255);
        
    }
}

.experience-iconEffect{
    position: absolute;
    left: 220px;
    transform: rotate(-90deg);
    font-size: 78px;
    animation-name: slide;
    animation-duration:2s;
}



@keyframes slide{
    0%{
        left:-20px;
    }
    100%{
       left:220px
    }
}
