/*main header*/
.header{
    height: 30px;
    width: 100%;
    background: rgb(185, 185, 185);
}
/*UL*/
.mainContainer__list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;

}
/*List items header*/
.headerList-logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerList-contact{
    flex: 1;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerList-logo img{
    cursor: pointer;
    width: 75px;
    height: 75px;
    object-fit: contain;
}

/*icons*/

.headerList-icon{
    margin-right: 10px;
}