/*main*/
.mainContainer__responsiveMenu{
    z-index:100000 ;
    right: 0%;
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: red;
}

/*icon back*/
.responsiveMenu-list-close{
    
}