/*main*/
.mainContainer__reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: #403b3ad7;
}

/*review containr*/

.review-container{
    display: flex;
    justify-content: center;
    position: relative;
    width:50%;
    height: 50%;
    border-left:4px solid white;
    border-right:4px solid white;
}

/*review stars*/

.review-stars{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height:50px;
}

.review-star{
    cursor: pointer;
    margin-left: 25px;
    font-size:35px;
    color: #FF9000;
}

/*review text*/

.review-text{
    width: 100%;
    font-size: 25px;

    position: absolute;
    text-align: center;
    padding: 25px;
    color: white;
    align-self: flex-end;
}