/*main*/
.mainContainer__reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: #403b3ad7;
}

/*review containr*/

.review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width:50%;
    height: 50%;
    border-left:4px solid white;
    border-right:4px solid white;
}

/*review stars*/

.review-stars{
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
}

.review-star{
    cursor: pointer;
    margin-left: 25px;
    font-size:35px;
    color: #FF9000;
}

/*review text*/

.review-text{
    width: 100%;
    font-size: 20px;
    position: relative;
    text-align: center;
    padding: 25px;
    color: white;
    align-self: flex-end;
}
@media only screen and (max-width: 1200px){
    /*main*/
    .mainContainer__reviews{
        padding: 100px 0 100px 0;
        height:600px;
        width: 100%;
    }
    /*review container*/
    .review-container{
        height: 100%;
        width: 80%;
        border-left:none;
        border-right:none;
        border-top:4px solid white;
        border-bottom:4px solid white;
    }
    /*stars*/
    .review-star{
        font-size: 30px;
    }
    /*text*/
    .review-text{
        font-size:20px;
    }
}


