

/*Main*/
.mainContainer___startSchedule{
    background-color: white;
    display: grid;
    grid-template-rows:auto auto;
    justify-items: center;
    align-items: center;
    width: 100%;
    height:450px;
    padding: 50px 0 50px 0;
}
/*text*/
.startSchedule-text{
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    width: 70%;
}

.startSchedule-text h2{
    margin-bottom: 20px;
}
/*button*/
button{
    cursor: pointer;
}

.startSchedule-button button{
    margin-bottom: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: 600px;
    background-color: #FDB913;
    border: none;
}
/*icon*/

.startSchedule-icon{
    margin-left: 5px;
    font-size: 25px;
    color: black;
}


@media only screen and (max-width: 1200px){
    .mainContainer___startSchedule{
        margin-top: 40px;
        height: 100%;
    }
    /*button*/
    .startSchedule-button button{
        margin-top: 30px;
    }
    /*text*/
    .startSchedule-text{
        margin-top: 50px;
    }
}