
/*main*/
.mainContainer__whyUs{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: 7px solid rgb(255, 208, 121);
    border-bottom: 7px solid rgb(255, 255, 255);
}

/*title why us*/
.whyUs-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 100px;
}

/*container*/
.container-whyUs{
    width: 100%;
    height: 100%;
    display: flex;

}

/*whyUS why*/

.whyUs-why{
    position: relative;
    font-size: 20px;
    width: 25%;
    height: 100%;
}
/*imgs*/

.whyUs-why img{

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*container text*/
.why-container{
    padding: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.792);
}

.why-container p {
    text-align: center;
    color: white;
}


/*responsive*/

@media only screen and (max-width: 1200px){
    /*main*/
    .mainContainer__whyUs{
        height: 750px;
    }
    /**/
    .container-whyUs{
        flex-direction: column;
    }
    /**/
    .whyUs-why{
        width: 100%;
        height: 25%;
    }

}
