/*main*/
.mainContainer__clientForm{
    
    background-color: rgba(145, 145, 145, 0.833);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*form container*/
.container__clientForm{
    margin-bottom: 150px;
    width: 500px;
    height: 400px;
    background-color: rgb(214, 214, 214);
}

/*Form title y exit*/
.clientForm__title{
    width: 100%;
    height: 50px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.clientForm__title-text{
    color: white;
    font-size: 20px;
    margin-left: 100px;
}


/*ul*/
.clientForm-form{
    padding: 20px;
    list-style: none;
}

/*li*/

.clientForm-form-buttonType{
    margin-top: 20px;
    width: 100%;
    height: 25%;

}

.buttonType-container div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonType-container button{
    margin-top: 25px;
    width: 50%;
    height: 50px;

}
/*Next button*/

.clientForm-nextButton{
    background-color: black;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;

}

.clientForm-nextIcon{
    color: white;
}

/*icon close*/
.close-form-icon{
    color: white;
    cursor: pointer;
    position: relative;
    font-size: 30px;
    margin-right: 25px;

}

@media only screen and (max-width: 1200px){
 .container__clientForm{
        width: 100%;
        height: 400px;
        background-color: rgb(214, 214, 214);
    }
}